asgiref==3.8.1
bleach==6.1.0
boto3==1.37.38
botocore==1.37.38
cachetools==5.5.2
certifi==2025.4.26
cffi==1.17.1
charset-normalizer==3.4.2
crispy-bootstrap4==2022.1
cryptography==45.0.5
defusedxml==0.7.1
dj-database-url==0.5.0
Django==4.2.23
django-allauth==0.50.0
django-countries==7.2.1
django-crispy-forms==2.1
django-storages==1.14.6
django-summernote==0.8.20.0
google-auth==2.40.1
google-auth-oauthlib==1.2.2
greenlet==3.1.1
gspread==6.2.0
gunicorn==20.1.0
idna==3.10
jmespath==1.0.1
oauthlib==3.2.2
pillow==10.3.0
psycopg2==2.9.10
psycopg2-binary==2.9.10
pyasn1==0.6.1
pyasn1_modules==0.4.2
pycparser==2.22
PyJWT==2.9.0
python-dateutil==2.9.0.post0
python3-openid==3.2.0
requests==2.32.3
requests-oauthlib==2.0.0
rsa==4.9.1
s3transfer==0.11.5
six==1.17.0
SQLAlchemy==2.0.41
sqlparse==0.5.3
stripe==12.3.0
typing_extensions==4.13.2
urllib3==1.26.20
webencodings==0.5.1
whitenoise==5.3.0
