<!-- Remove the container if you want to extend the Footer to full width. -->
<div class="container-fluid p-0">

  <!-- Footer -->
  <footer
          class="text-lg-start text-white pt-5"
          style="background-color: #212121"
          >
   
    <!-- Section: Social media -->

    <!-- Section: Links  -->
    <section class="px-3">
      <div class="container text-md-start mt-5">
        <!-- Grid row -->
        <div class="row mt-3">
          <!-- Grid column -->
          <div class="col-md-12 col-lg-4 col-xl-3 mb-4 mr-5">
            <!-- Content -->
            <a href="{% url 'home' %}" class="brand-text">BIRCHLIN</a>
            
            <p>
              Gear up at our wilderness outpost where quality meets adventure. From tents to trails, we equip your escape. Find your wild side and we'll pack the rest!          </div>
          <!-- Grid column -->

         
          <div class="col-md-12 col-lg-6 col-xl-5 mx-auto mb-4 pr-4 pr-lg-0 pr-xl-4">
            <!-- Links -->
            <div class="footer-header mb-4">Browse by Category</div>
            
            <div class="grid-container-category">
            <p>
              <a href="{% url 'products' %}?category=tents_and_shelter" aria-haspopup="true" aria-expanded="false" aria-label="Category - Shelter">Shelter</a>
            </p>
            <p>
              <a href="{% url 'products' %}?category=sleeping_bags" aria-label="Category - Sleeping Bags">Sleeping Bags</a>
            </p>
            <p>
              <a href="{% url 'products' %}?category=sleeping_pads" aria-label="Category - Sleeping Pads">Sleeping Pads</a>
            </p>
            <p>
              <a href="{% url 'products' %}?category=cooking_and_food" aria-haspopup="true" aria-expanded="false" aria-label="Category - Cook">Cook</a>
            </p>
            <p>
              <a href="{% url 'products' %}?category=power_banks" aria-haspopup="true" aria-expanded="false" aria-label="Category - Power">Power</a>
            </p>
            <p>
              <a href="{% url 'products' %}?category=lighting" aria-haspopup="true" aria-expanded="false" aria-label="Category - Lighting">Lighting</a>
            </p>
            <p>
              <a href="{% url 'products' %}?category=backpacks_and_bags" aria-haspopup="true" aria-expanded="false" aria-label="Category - Carry">Carry</a>
            </p>
            <p>
              <a href="{% url 'products' %}?category=navigation" aria-haspopup="true" aria-expanded="false" aria-label="Category - Navigation">Navigation</a>
            </p>
            <p>
              <a href="{% url 'products' %}?category=safety" aria-haspopup="true" aria-expanded="false" aria-label="Category - Safety">Safety</a>
            </p>
           
            <p>
              <a href="{% url 'contact' %}" aria-label="Category - Connect">Contact</a>
            </p>

          </div>
            
          </div>

          <div class="col-md-12 col-lg-5 col-xl-3 mx-auto ml-lg-0 pr-xl-0 mr-xl-0">
            <!-- Links -->
            <div class="footer-header mb-4">Info</div>
              <div class="grid-container-info">
                <p>
                  <a href="{% url 'about' %}" aria-label="About Us">About Us</a>
                </p>
                <p>
                  <a href="{% url 'contact' %}" aria-label="Category - Connect">Contact</a>
                </p>
                <p>
                  <a href="{% url 'privacy_policy' %}" aria-label="Privacy Policy">Privacy Policy</a>
                </p>
                <p>
                  <a href="{% url 'terms' %}" aria-label="Terms & Conditions">Terms & Conditions</a>
                </p>
            </div>
            
          </div>

          
          
        </div>
       
      </div>
    </section>
    <!-- Section: Links  -->

    <!-- Copyright -->
    <div
         class="text-center p-4 mt-5 copyright"
         style="background-color: rgba(0, 0, 0, 0.2)"
         >
         <div class="social-media-links">
          <a href="https://www.facebook.com" class="text-white mr-2" aria-label="Visit Birchlin on Facebook">
              <i class="fab fa-facebook-f" aria-hidden="true"></i>
          </a>
          <a href="https://www.x.com" class="text-white mr-2" aria-label="Follow Birchlin on X">
              <i class="fab fa-twitter" aria-hidden="true"></i>
          </a>
          <a href="https://www.instagram.com" class="text-white" aria-label="Follow Birchlin on Instagram">
              <i class="fab fa-instagram" aria-hidden="true"></i>
          </a>
          
      </div>
    </div>
    <!-- Copyright -->
  </footer>
  <!-- Footer -->

</div>
<!-- End of .container -->