<div class="collapse navbar-collapse" id="main-nav-list">
    <ul class="navbar-nav w-auto">
        <li class="nav-item dropdown">
            <a class="logo-font nav-link text-black nav-first-link" href="#" id="all-products-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                All Products
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="all-products-link">
                <a href="{% url 'products' %}?sort=price&direction=asc" class="dropdown-item">By Price</a>
                <a href="{% url 'products' %}?sort=rating&direction=desc" class="dropdown-item ">By Rating</a>
                <a href="{% url 'products' %}?sort=category&direction=asc" class="dropdown-item ">By Category</a>
                <a href="{% url 'products' %}" class="dropdown-item">All Products</a>
            </div>
        </li>

        <li class="nav-item dropdown">
            <a class="logo-font nav-link text-black" href="{% url 'products' %}?category=tents_and_shelter" aria-haspopup="true" aria-expanded="false">
                Shelter
            </a>
        </li>

        <li class="nav-item dropdown">
            <a class="logo-font nav-link text-black" href="#" id="clothing-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Sleep
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="clothing-link">
                <a href="{% url 'products' %}?category=sleeping_bags" class="dropdown-item">Sleeping Bags</a>
                <a href="{% url 'products' %}?category=sleeping_pads" class="dropdown-item">Sleeping Pads</a>
            </div>
        </li>

        <li class="nav-item dropdown">
            <a class="logo-font nav-link text-black" href="{% url 'products' %}?category=cooking_and_food" aria-haspopup="true" aria-expanded="false">
                Cook
            </a>
        </li>


        <li class="nav-item dropdown">
            <a class="logo-font nav-link text-black" href="{% url 'products' %}?category=power_banks" aria-haspopup="true" aria-expanded="false">
                Power
            </a>
        </li>

        <li class="nav-item dropdown">
            <a class="logo-font nav-link text-black" href="{% url 'products' %}?category=lighting" aria-haspopup="true" aria-expanded="false">
                Lighting
            </a>
        </li>

        <li class="nav-item dropdown">
            <a class="logo-font nav-link text-black" href="{% url 'products' %}?category=backpacks_and_bags" aria-haspopup="true" aria-expanded="false">
                Carry
            </a>
        </li>

        <li class="nav-item dropdown">
            <a class="logo-font nav-link text-black" href="{% url 'products' %}?category=navigation" aria-haspopup="true" aria-expanded="false">
                Navigation
            </a>
        </li>

        <li class="nav-item dropdown">
            <a class="logo-font nav-link text-black" href="{% url 'products' %}?category=backpacks_and_bags" aria-haspopup="true" aria-expanded="false">
                Safety
            </a>
        </li>


        <li class="nav-item dropdown">
            <a class="logo-font nav-link text-black" href="#" id="clothing-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Comfort
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="clothing-link">
                <a href="{% url 'products' %}?category=hommocks" class="dropdown-item">Hammocks</a>
                <a href="{% url 'products' %}?category=chairs" class="dropdown-item">Chairs</a>
            </div>
        </li>

        <li class="nav-item">
        
        <a href="{% url 'contact' %}" class="logo-font nav-link text-black">Contact</a>
        </li>
    </ul>
</div>