

<!doctype html>
<html lang="en">

<head>
  {% load static %}
  <link rel="stylesheet" href="{% static 'css/style.css' %}">
  {% block meta %}
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  {% endblock %}

  {% block extra_meta %}
  {% endblock %}

  {% block corecss %}
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
    integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato&display=swap">
  <link rel="stylesheet" href="{% static 'base.css' %}">

  <!-- Fonts & Icons -->
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;600;700;800&display=swap" rel="stylesheet">
  <link rel="stylesheet"
        href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css"
        crossorigin="anonymous" referrerpolicy="no-referrer" />

  {% endblock %}

  {% block extra_css %}
  {% endblock %}

  {% block corejs %}
  <!-- Add your kit code -->
  <script src="https://kit.fontawesome.com/d3246905bc.js" crossorigin="anonymous"></script>
  <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap" rel="stylesheet">
<script src="https://code.jquery.com/jquery-3.7.1.min.js" integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo=" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
    integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
    crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
    integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
    crossorigin="anonymous"></script>
    <!--  Stripe-->
    <script src="https://js.stripe.com/basil/stripe.js"></script>

  {% endblock %}

  {% block extra_js %}
  {% endblock %}

  <title>Birchlin {% block extra_title %}{% endblock %}</title>
  
</head>

<body>
  <header class="site-header">
    <!-- Row 1: Logo • Search • Utility -->
    <div class="container header-top">
      <a href="{% url 'home' %}" class="brand-text">BIRCHLIN</a>
  
      <form action="{% url 'products' %}" method="get" class="header-search" role="search">
        <i class="fas fa-search header-search__icon" aria-hidden="true"></i>
        <input name="q" type="search" placeholder="Search" aria-label="Search">
        <button type="submit" class="header-search__submit" aria-label="Search"></button>
      </form>
  
      <nav class="header-util">
        <a class="header-util__item" href="{% url 'wishlist' %}" aria-label="Wishlist">
          <i class="far fa-heart"></i>
          <span>Wishlist</span>
        </a>
        {% if request.user.is_authenticated %}
          <a class="header-util__item" href="{% url 'profile' %}" aria-label="Profile">
            <i class="far fa-user"></i>
            <span>Profile</span>
          </a>
        {% else %}
          <a class="header-util__item" href="{% url 'account_login' %}" aria-label="Sign in">
            <i class="far fa-user"></i>
            <span>Profile</span>
          </a>
        {% endif %}
        <a class="header-util__item" href="{% url 'view_bag' %}" aria-label="Bag">
          <i class="fas fa-shopping-bag"></i>
          <span>{% if product_count %}{{ product_count }}{% else %}0{% endif %}</span>
        </a>
      </nav>
    </div>
  
    <!-- Row divider -->
    <div class="header-divider"></div>

    <!-- Row 2: main nav -->
    <div class="container nav-row">
      <nav class="navbar navbar-expand-lg navbar-light p-0 w-100" id="main-nav">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#mainnav-items"
                aria-controls="mainnav-items" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>

        <!-- Force it visible on desktop; collapse only matters below lg -->
        <div class="collapse navbar-collapse show" id="mainnav-items">
          {% include "includes/main-nav.html" %}
        </div>
      </nav>
    </div>
    <div class="header-divider"></div>
  </header>
  

  {% if messages %}
  <div class="message-container">
    
      {% for message in messages %}
          {% with message.level as level %}
              {% if level == 40 %}
                  {% include 'includes/toasts/toast_error.html' %}
              {% elif level == 30 %}
                  {% include 'includes/toasts/toast_warning.html' %}
              {% elif level == 25 %}
                  {% include 'includes/toasts/toast_success.html' %}
              {% else %}
                  {% include 'includes/toasts/toast_info.html' %}
              {% endif %}
          {% endwith %}
      {% endfor %}
  </div>
  {% endif %}

  {% block page_header %}
  {% endblock %}

  {% block content %}
  {% endblock %}

  {% block postloadjs %}

  <script type="text/javascript">
    $('.toast').toast('show');
  </script>

  {% endblock %}

</body>

</html>